$body_color: #777 ;
$linear_gradient_color_one:rgba(0, 79, 148); //004f94c4
$linear_gradient_color_two:rgba(0, 4, 41);

$linear_gradient_color_three:#7ed56f; 
$linear_gradient_color_four:#28b485;

$linear_gradient_color_five:#ffb900; 
$linear_gradient_color_six:#ff7730;

$linear_gradient_color_seven:#2998ff; 
$linear_gradient_color_eight:#5643fa;

$color_white:rgb(255, 255, 255);
$color_green:#7ed56f;
$shadow_color:rgba(0, 0, 0);
$color_grey: #777;
$font_size:62%;

$global_padding:3rem;

$grid_width:114rem;
$margin_vertical:6rem;
$margin_vertical-small:6rem;
$margin_horizontal:6rem;

$section_about_bg_color: #f7f7f7;
$section_padding:25rem;

$default-font-size: 1.6rem;

$tour_section_green_btn_top_margin:49rem;
