@keyframes tect-color {
  0% {
    transform: rotate(0deg);
  }
  20% {
    color: #777;
  }
  80% {
    color: #7ed56f;
  }
  100% {
    transform: rotateX(0deg);
    color: white;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotateX(180deg);
    color: white;
  }
  40% {
    color: #777;
  }
  50% {
    transform: rotateX(0);
  }
  60% {
    color: #7ed56f;
  }
  80% {
    transform: rotateX(180deg);
  }
  90% {
    transform: rotateX(0deg);
    color: #777;
  }
  100% {
    transform: rotateX(0deg);
    color: #7ed56f;
  }
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #212121;
  font-family: sans-serif;
}

.box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  /* only screen and is used to set scalling of website to web only and not when someone is printing the web-page
  the media queries only apply to screens
  */
}
@media only screen and (max-width: 56.25em) {
  .box {
    display: contents;
  }
}
@media only screen and (max-width: 37.5em) {
  .box {
    display: contents;
  }
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #222;
  margin-bottom: 10px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* only screen and is used to set scalling of website to web only and not when someone is printing the web-page
  the media queries only apply to screens
  */
}
@media only screen and (max-width: 56.25em) {
  .card {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card {
    margin-bottom: 1rem;
  }
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #777;
  transition: 0.5s;
  z-index: -1;
}

.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
  opacity: 0;
}

.card:hover .details {
  opacity: 1;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-top: 5px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.preloader {
  height: 100vh;
  background-color: #222;
  width: 100%;
  position: absolute;
  z-index: 1000;
  clip-path: circle(70.7% at 50% 50%);
  transition: all 2.5s;
}

.bounce {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: 80px;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bounce:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 -10px rgba(0, 0, 0, 0.1);
  -webkit-animation: bounce 0.75s infinite linear;
  animation: bounce 0.75s infinite linear;
}

.bounce:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1, 0.25);
  -webkit-animation: bounceshadow 0.75s infinite linear;
  animation: bounceshadow 0.75s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
  30% {
    transform: translate(0, -250%) scale(0.8, 1);
  }
  60% {
    transform: translate(0, -300%) scale(0.8, 1);
  }
  85% {
    transform: translate(0, -50%) scale(0.8, 1);
  }
  88% {
    transform: translate(0, -50%) scale(0.8, 1);
  }
  95%, 100% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
  30% {
    transform: translate(0, -250%) scale(0.8, 1);
  }
  60% {
    transform: translate(0, -300%) scale(0.8, 1);
  }
  85% {
    transform: translate(0, -50%) scale(0.8, 1);
  }
  88% {
    transform: translate(0, -50%) scale(0.8, 1);
  }
  95%, 100% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
}
@-webkit-keyframes bounceshadow {
  0% {
    transform: scale(1, 0.25);
  }
  30% {
    transform: scale(1.5, 0.25);
  }
  60% {
    transform: scale(2, 0.25);
  }
  85% {
    transform: scale(1, 0.25);
  }
  90% {
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.25);
  }
}
@keyframes bounceshadow {
  0% {
    transform: scale(1, 0.25);
  }
  30% {
    transform: scale(1.5, 0.25);
  }
  60% {
    transform: scale(2, 0.25);
  }
  85% {
    transform: scale(1, 0.25);
  }
  90% {
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.25);
  }
}
.web__name {
  letter-spacing: 0.5rem;
  padding: 5px;
}
.web__name:hover {
  transform: scale(1.08) translateY(-0.8rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 0.5rem solid #7ed56f;
}

.textdraw {
  animation-name: tect-color;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  display: inline-block;
  animation-timing-function: ease-in-out;
  transition: all 0.4s;
}
.textdraw:hover {
  cursor: none;
}

.about__statement {
  font-family: Nunito, sans-serif;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  line-height: 25px;
  opacity: 0.95;
}
.about--highlight {
  color: #777;
}

.est__text {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-weight: 500;
}

.list {
  letter-spacing: 2px;
}

.service__info {
  letter-spacing: 2px;
}

.to-team-btn {
  text-decoration: none;
  color: #777;
}/*# sourceMappingURL=main.css.map */